.background {
    background: url(../../assets/images/background404.png) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.custom-card {
    padding: 5%;
    border-radius: 25px;
    width: 90%;
    height: 50vh;
    background-color: white;
    opacity: 80%;
}

.button-custom {
    opacity: 100%;
}